<?xml version='1.0' encoding='UTF-8'?>
<launch>


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fw-mid)/config/smart_control_config.yaml" command="load"/>

  <!-- load controllers -->
  <group ns="car1">
    <param name="vehicle_name" value="car1"/>
    <node name="controller_spawner_1" pkg="controller_manager" type="spawner" respawn="false"
          output="screen"
          args="joint_state_controller 
                rear_right_velocity_controller 
                rear_left_velocity_controller 
                front_right_velocity_controller 
                front_left_velocity_controller  
                front_right_steering_position_controller
                front_left_steering_position_controller 
                rear_right_steering_position_controller 
                rear_left_steering_position_controller"/>

    <node name="robot_state_publisher1" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
      <remap from="/joint_states" to="/car1/joint_states" />
      <param name="robot_description" value="car1_robot_description" />
    </node>

  </group>
  
  <node name="cmdvel2gazebo1" pkg="fw-mid" type="cmdvel2gazebo1.py" respawn="true" output="screen">
    <param name="gear" type="int" value="7" />
  </node>

</launch>
