<?xml version="1.0" encoding="UTF-8"?>
<launch>
	    <!-- 设置launch文件的参数 -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="true"/>
    <arg name="debug" default="false"/>
    <!--模型车的起点放置位置-->
    <arg name="car1_x_pos" default="0"/>
    <arg name="car1_y_pos" default="0"/>
    <arg name="car1_z_pos" default="0.5"/>
    <arg name="car1_R_pos" default="0"/>
    <arg name="car1_P_pos" default="0"/>
    <arg name="car1_Y_pos" default="0"/>


	<!--运行gazebo仿真环境-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- city     feature_city      large_city -->
    <arg name="world_name" value="$(find fw-mid)/world/parking_lot.world"/>  
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

	<!-- 加载机器人模型描述参数 -->
	<group ns="car1">
    <param name="vehicle_name" value="car1"/>
    <param name="car1_robot_description" command="$(find xacro)/xacro --inorder '$(find fw-mid)/urdf/car1_fw-mid.xacro'"/>
    <node name="spawn_car1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model car1 -param car1_robot_description -x $(arg car1_x_pos) -y $(arg car1_y_pos) -z $(arg car1_z_pos) -R $(arg car1_R_pos) -P $(arg car1_P_pos) -Y $(arg car1_Y_pos)" />
  </group>


  <node name="robot_rviz" pkg="rviz" type="rviz" args="-d $(find fw-mid)/config/robot.rviz" />

  <include file="$(find fw-mid)/launch/control.launch">
  </include>



</launch>

